.twitch {
  background: url( '../images/twitch-emoticons.png' ) no-repeat;
  background-size: 526px 509px;
}

.twitch.hlspwn {
  width: 60px;
  height: 30px;
  background-position: 0px 0px;
}

.twitch.apollosc {
  width: 60px;
  height: 30px;
  background-position: 0px -30px;
}

.twitch.walterw {
  width: 60px;
  height: 30px;
  background-position: -60px 0px;
}

.twitch.beststudio {
  width: 60px;
  height: 30px;
  background-position: -60px -30px;
}

.twitch.meanderBigPlays {
  width: 60px;
  height: 20px;
  background-position: 0px -60px;
}

.twitch.meanderNevaEva {
  width: 60px;
  height: 20px;
  background-position: -60px -60px;
}

.twitch.numan {
  width: 48px;
  height: 30px;
  background-position: 0px -80px;
}

.twitch.supsonl {
  width: 45px;
  height: 17px;
  background-position: -48px -80px;
}

.twitch.supsonr {
  width: 45px;
  height: 17px;
  background-position: -120px 0px;
}

.twitch.BloodTrail {
  width: 41px;
  height: 28px;
  background-position: -120px -17px;
}

.twitch.FrankerZ {
  width: 40px;
  height: 30px;
  background-position: -120px -45px;
}

.twitch.MrDestructoid {
  width: 39px;
  height: 27px;
  background-position: -120px -75px;
}

.twitch.BibleThump {
  width: 36px;
  height: 30px;
  background-position: 0px -110px;
}

.twitch.PJSalt {
  width: 36px;
  height: 30px;
  background-position: -36px -110px;
}

.twitch.smlr {
  width: 36px;
  height: 30px;
  background-position: -72px -110px;
}

.twitch.RalpherZ {
  width: 33px;
  height: 30px;
  background-position: -108px -110px;
}

.twitch.SMOrc {
  width: 32px;
  height: 32px;
  background-position: -165px 0px;
}

.twitch.DansGame {
  width: 25px;
  height: 32px;
  background-position: -165px -32px;
}

.twitch.MVGame {
  width: 24px;
  height: 32px;
  background-position: -165px -64px;
}

.twitch.skrffz {
  width: 31px;
  height: 30px;
  background-position: -165px -96px;
}

.twitch.BionicBunion {
  width: 30px;
  height: 30px;
  background-position: 0px -140px;
}

.twitch.BrainSlug {
  width: 30px;
  height: 30px;
  background-position: -30px -140px;
}

.twitch.vcat {
  width: 30px;
  height: 30px;
  background-position: -60px -140px;
}

.twitch.WinWaker {
  width: 30px;
  height: 30px;
  background-position: -90px -140px;
}

.twitch.EvilFetus {
  width: 29px;
  height: 30px;
  background-position: -120px -140px;
}

.twitch.HotPokket {
  width: 28px;
  height: 30px;
  background-position: -149px -140px;
}

.twitch.tranceh {
  width: 28px;
  height: 30px;
  background-position: -197px 0px;
}

.twitch.UnSane {
  width: 28px;
  height: 30px;
  background-position: -197px -30px;
}

.twitch.isfrog {
  width: 25px;
  height: 30px;
  background-position: -197px -60px;
}

.twitch.TriHard {
  width: 24px;
  height: 30px;
  background-position: -197px -90px;
}

.twitch.AsianGlow {
  width: 24px;
  height: 30px;
  background-position: -197px -120px;
}

.twitch.SoBayed {
  width: 24px;
  height: 30px;
  background-position: -141px -110px;
}

.twitch.BigBrother {
  width: 24px;
  height: 30px;
  background-position: 0px -170px;
}

.twitch.DatSheffy {
  width: 24px;
  height: 30px;
  background-position: -24px -170px;
}

.twitch.ShazBotstix {
  width: 24px;
  height: 30px;
  background-position: -48px -170px;
}

.twitch.FUNgineer {
  width: 24px;
  height: 30px;
  background-position: -72px -170px;
}

.twitch.PogChamp {
  width: 23px;
  height: 30px;
  background-position: -96px -170px;
}

.twitch.TooSpicy {
  width: 23px;
  height: 30px;
  background-position: -119px -170px;
}

.twitch.adbc {
  width: 23px;
  height: 30px;
  background-position: -142px -170px;
}

.twitch.SoonerLater {
  width: 23px;
  height: 30px;
  background-position: -165px -170px;
}

.twitch.PMSTwin {
  width: 23px;
  height: 30px;
  background-position: -188px -170px;
}

.twitch.wps {
  width: 22px;
  height: 30px;
  background-position: -225px 0px;
}

.twitch.TF2John {
  width: 22px;
  height: 30px;
  background-position: -225px -30px;
}

.twitch.FailFish {
  width: 22px;
  height: 30px;
  background-position: -225px -60px;
}

.twitch.Poooound {
  width: 21px;
  height: 30px;
  background-position: -225px -90px;
}

.twitch.DBstyle {
  width: 21px;
  height: 30px;
  background-position: -225px -120px;
}

.twitch.OpieOP {
  width: 21px;
  height: 30px;
  background-position: -225px -150px;
}

.twitch.Jebaited {
  width: 21px;
  height: 30px;
  background-position: 0px -200px;
}

.twitch.WholeWheat {
  width: 20px;
  height: 30px;
  background-position: -177px -140px;
}

.twitch.RuleFive {
  width: 20px;
  height: 30px;
  background-position: -21px -200px;
}

.twitch._4Head {
  width: 20px;
  height: 30px;
  background-position: -41px -200px;
}

.twitch.BORT {
  width: 19px;
  height: 30px;
  background-position: -61px -200px;
}

.twitch.TinyFace {
  width: 19px;
  height: 30px;
  background-position: -80px -200px;
}

.twitch.Keepo {
  width: 27px;
  height: 29px;
  background-position: -99px -200px;
}

.twitch.BCWarrior {
  width: 29px;
  height: 27px;
  background-position: -126px -200px;
}

.twitch.wagaFish {
  width: 28px;
  height: 28px;
  background-position: -247px 0px;
}

.twitch.admiralHYPE {
  width: 28px;
  height: 28px;
  background-position: -247px -28px;
}

.twitch.lirikB {
  width: 28px;
  height: 28px;
  background-position: -247px -56px;
}

.twitch.lirikC {
  width: 28px;
  height: 28px;
  background-position: -247px -84px;
}

.twitch.ResidentSleeper {
  width: 28px;
  height: 28px;
  background-position: -247px -112px;
}

.twitch.lirikHug {
  width: 28px;
  height: 28px;
  background-position: -247px -140px;
}

.twitch.lirikTEN {
  width: 28px;
  height: 28px;
  background-position: -247px -168px;
}

.twitch.lirikPOOP {
  width: 28px;
  height: 28px;
  background-position: -247px -196px;
}

.twitch.lirikNICE {
  width: 28px;
  height: 28px;
  background-position: 0px -230px;
}

.twitch.lirikCLENCH {
  width: 28px;
  height: 28px;
  background-position: -28px -230px;
}

.twitch.lirikMEOW {
  width: 28px;
  height: 28px;
  background-position: -56px -230px;
}

.twitch.lirikW {
  width: 28px;
  height: 28px;
  background-position: -84px -230px;
}

.twitch.lirikWc {
  width: 28px;
  height: 28px;
  background-position: -112px -230px;
}

.twitch.OSrob {
  width: 28px;
  height: 28px;
  background-position: -140px -230px;
}

.twitch.tbQuesarito {
  width: 28px;
  height: 28px;
  background-position: -168px -230px;
}

.twitch.lirikF {
  width: 28px;
  height: 28px;
  background-position: -196px -230px;
}

.twitch.WTRuck {
  width: 28px;
  height: 28px;
  background-position: -224px -230px;
}

.twitch.admiralKristin {
  width: 28px;
  height: 28px;
  background-position: -275px 0px;
}

.twitch.lirikHYPE {
  width: 28px;
  height: 28px;
  background-position: -275px -28px;
}

.twitch.lirikRIP {
  width: 28px;
  height: 28px;
  background-position: -275px -56px;
}

.twitch.admiralGame {
  width: 28px;
  height: 28px;
  background-position: -275px -84px;
}

.twitch.lirikCRASH {
  width: 28px;
  height: 28px;
  background-position: -275px -112px;
}

.twitch.lirikNOT {
  width: 28px;
  height: 28px;
  background-position: -275px -140px;
}

.twitch.admiralDream {
  width: 28px;
  height: 28px;
  background-position: -275px -168px;
}

.twitch.lirikCHAMP {
  width: 28px;
  height: 28px;
  background-position: -275px -196px;
}

.twitch.tbSpicy {
  width: 28px;
  height: 28px;
  background-position: -275px -224px;
}

.twitch.lirikLEWD {
  width: 28px;
  height: 28px;
  background-position: 0px -258px;
}

.twitch.admiralHug {
  width: 28px;
  height: 28px;
  background-position: -28px -258px;
}

.twitch.PeoplesChamp {
  width: 28px;
  height: 28px;
  background-position: -56px -258px;
}

.twitch.GrammarKing {
  width: 28px;
  height: 28px;
  background-position: -84px -258px;
}

.twitch.UncleNox {
  width: 28px;
  height: 28px;
  background-position: -112px -258px;
}

.twitch.PanicVis {
  width: 28px;
  height: 28px;
  background-position: -140px -258px;
}

.twitch.BrokeBack {
  width: 28px;
  height: 28px;
  background-position: -168px -258px;
}

.twitch.PipeHype {
  width: 28px;
  height: 28px;
  background-position: -196px -258px;
}

.twitch.Mau5 {
  width: 28px;
  height: 28px;
  background-position: -224px -258px;
}

.twitch.YouWHY {
  width: 28px;
  height: 28px;
  background-position: -252px -258px;
}

.twitch.RitzMitz {
  width: 28px;
  height: 28px;
  background-position: -303px 0px;
}

.twitch.EleGiggle {
  width: 28px;
  height: 28px;
  background-position: -303px -28px;
}

.twitch.ArgieB8 {
  width: 28px;
  height: 28px;
  background-position: -303px -56px;
}

.twitch.KZskull {
  width: 28px;
  height: 28px;
  background-position: -303px -84px;
}

.twitch.TheThing {
  width: 28px;
  height: 28px;
  background-position: -303px -112px;
}

.twitch.AtWW {
  width: 28px;
  height: 28px;
  background-position: -303px -140px;
}

.twitch.Shazam {
  width: 28px;
  height: 28px;
  background-position: -303px -168px;
}

.twitch.GasJoker {
  width: 28px;
  height: 28px;
  background-position: -303px -196px;
}

.twitch.PJHarley {
  width: 28px;
  height: 28px;
  background-position: -303px -224px;
}

.twitch.MechaSupes {
  width: 28px;
  height: 28px;
  background-position: -303px -252px;
}

.twitch.shazamicon {
  width: 28px;
  height: 28px;
  background-position: 0px -286px;
}

.twitch.AtIvy {
  width: 28px;
  height: 28px;
  background-position: -28px -286px;
}

.twitch.KAPOW {
  width: 28px;
  height: 28px;
  background-position: -56px -286px;
}

.twitch.NightBat {
  width: 28px;
  height: 28px;
  background-position: -84px -286px;
}

.twitch.AtGL {
  width: 28px;
  height: 28px;
  background-position: -112px -286px;
}

.twitch.TheKing {
  width: 28px;
  height: 28px;
  background-position: -140px -286px;
}

.twitch.SriHead {
  width: 28px;
  height: 28px;
  background-position: -168px -286px;
}

.twitch.tbSriracha {
  width: 28px;
  height: 28px;
  background-position: -196px -286px;
}

.twitch.BabyRage {
  width: 28px;
  height: 28px;
  background-position: -224px -286px;
}

.twitch.panicBasket {
  width: 28px;
  height: 28px;
  background-position: -252px -286px;
}

.twitch.Fsociety {
  width: 28px;
  height: 28px;
  background-position: -280px -286px;
}

.twitch.PermaSmug {
  width: 28px;
  height: 28px;
  background-position: -331px 0px;
}

.twitch.BuddhaBar {
  width: 28px;
  height: 28px;
  background-position: -331px -28px;
}

.twitch.RaccAttack {
  width: 28px;
  height: 28px;
  background-position: -331px -56px;
}

.twitch.MrRobot {
  width: 28px;
  height: 28px;
  background-position: -331px -84px;
}

.twitch.ShibeZ {
  width: 28px;
  height: 28px;
  background-position: -331px -112px;
}

.twitch.WutFace {
  width: 28px;
  height: 28px;
  background-position: -331px -140px;
}

.twitch.PRChase {
  width: 28px;
  height: 28px;
  background-position: -331px -168px;
}

.twitch.ANELE {
  width: 28px;
  height: 28px;
  background-position: -331px -196px;
}

.twitch.admiralKappe {
  width: 28px;
  height: 28px;
  background-position: -331px -224px;
}

.twitch.HeyGuys {
  width: 28px;
  height: 28px;
  background-position: -331px -252px;
}

.twitch.AthenaPMS {
  width: 28px;
  height: 28px;
  background-position: -331px -280px;
}

.twitch.PraiseIt {
  width: 28px;
  height: 28px;
  background-position: 0px -314px;
}

.twitch.NotAtk {
  width: 28px;
  height: 28px;
  background-position: -28px -314px;
}

.twitch.mcaT {
  width: 28px;
  height: 28px;
  background-position: -56px -314px;
}

.twitch.TTours {
  width: 28px;
  height: 28px;
  background-position: -84px -314px;
}

.twitch.deIlluminati {
  width: 28px;
  height: 28px;
  background-position: -112px -314px;
}

.twitch.deExcite {
  width: 28px;
  height: 28px;
  background-position: -140px -314px;
}

.twitch.deShade {
  width: 28px;
  height: 28px;
  background-position: -168px -314px;
}

.twitch.OSbeaver {
  width: 28px;
  height: 28px;
  background-position: -196px -314px;
}

.twitch.OSdeo {
  width: 28px;
  height: 28px;
  background-position: -224px -314px;
}

.twitch.OSfrog {
  width: 28px;
  height: 28px;
  background-position: -252px -314px;
}

.twitch.OSkomodo {
  width: 28px;
  height: 28px;
  background-position: -280px -314px;
}

.twitch.OSsloth {
  width: 28px;
  height: 28px;
  background-position: -308px -314px;
}

.twitch.noScope420 {
  width: 28px;
  height: 28px;
  background-position: -359px 0px;
}

.twitch.HumbleLife {
  width: 28px;
  height: 28px;
  background-position: -359px -28px;
}

.twitch.tbBaconBiscuit {
  width: 28px;
  height: 28px;
  background-position: -359px -56px;
}

.twitch.tbSausageBiscuit {
  width: 28px;
  height: 28px;
  background-position: -359px -84px;
}

.twitch.tbChickenBiscuit {
  width: 28px;
  height: 28px;
  background-position: -359px -112px;
}

.twitch.DatHass {
  width: 28px;
  height: 28px;
  background-position: -359px -140px;
}

.twitch.OSbury {
  width: 28px;
  height: 28px;
  background-position: -359px -168px;
}

.twitch.CorgiDerp {
  width: 28px;
  height: 28px;
  background-position: -359px -196px;
}

.twitch.HelloFriend {
  width: 28px;
  height: 28px;
  background-position: -359px -224px;
}

.twitch.dadHi {
  width: 28px;
  height: 28px;
  background-position: -359px -252px;
}

.twitch.dadPeppers {
  width: 28px;
  height: 28px;
  background-position: -359px -280px;
}

.twitch.dadChamp {
  width: 28px;
  height: 28px;
  background-position: -359px -308px;
}

.twitch.dadAm {
  width: 28px;
  height: 28px;
  background-position: 0px -342px;
}

.twitch.dadSkyl {
  width: 28px;
  height: 28px;
  background-position: -28px -342px;
}

.twitch.dadPuck {
  width: 28px;
  height: 28px;
  background-position: -56px -342px;
}

.twitch.dadSlark {
  width: 28px;
  height: 28px;
  background-position: -84px -342px;
}

.twitch.dadFlame {
  width: 28px;
  height: 28px;
  background-position: -112px -342px;
}

.twitch.dadWerk {
  width: 28px;
  height: 28px;
  background-position: -140px -342px;
}

.twitch.dadXD {
  width: 28px;
  height: 28px;
  background-position: -168px -342px;
}

.twitch.dadAwful {
  width: 28px;
  height: 28px;
  background-position: -196px -342px;
}

.twitch.wagaCrit {
  width: 28px;
  height: 28px;
  background-position: -224px -342px;
}

.twitch.wagaMunch {
  width: 28px;
  height: 28px;
  background-position: -252px -342px;
}

.twitch.wagaTa {
  width: 28px;
  height: 28px;
  background-position: -280px -342px;
}

.twitch.wagaGasm {
  width: 28px;
  height: 28px;
  background-position: -308px -342px;
}

.twitch.wagaThump {
  width: 28px;
  height: 28px;
  background-position: -336px -342px;
}

.twitch.DAESuppy {
  width: 28px;
  height: 28px;
  background-position: -387px 0px;
}

.twitch.wagaBoom {
  width: 28px;
  height: 28px;
  background-position: -387px -28px;
}

.twitch.wagaSilence {
  width: 28px;
  height: 28px;
  background-position: -387px -56px;
}

.twitch.wagaDoubt {
  width: 28px;
  height: 28px;
  background-position: -387px -84px;
}

.twitch.wagaRage {
  width: 28px;
  height: 28px;
  background-position: -387px -112px;
}

.twitch.wagaChamp {
  width: 28px;
  height: 28px;
  background-position: -387px -140px;
}

.twitch.wagaRosh {
  width: 28px;
  height: 28px;
  background-position: -387px -168px;
}

.twitch.wagaRawr {
  width: 28px;
  height: 28px;
  background-position: -387px -196px;
}

.twitch.synd4Giggle {
  width: 28px;
  height: 28px;
  background-position: -387px -224px;
}

.twitch.syndEleHead {
  width: 28px;
  height: 28px;
  background-position: -387px -252px;
}

.twitch.syndMagnet {
  width: 28px;
  height: 28px;
  background-position: -387px -280px;
}

.twitch.syndAl {
  width: 28px;
  height: 28px;
  background-position: -387px -308px;
}

.twitch.syndSilly {
  width: 28px;
  height: 28px;
  background-position: -387px -336px;
}

.twitch.syndRageMilk {
  width: 28px;
  height: 28px;
  background-position: 0px -370px;
}

.twitch.syndFeedereN {
  width: 28px;
  height: 28px;
  background-position: -28px -370px;
}

.twitch.syndErwin {
  width: 28px;
  height: 28px;
  background-position: -56px -370px;
}

.twitch.monkeysPeel {
  width: 28px;
  height: 28px;
  background-position: -84px -370px;
}

.twitch.monkeysFace {
  width: 28px;
  height: 28px;
  background-position: -112px -370px;
}

.twitch.monkeysPat {
  width: 28px;
  height: 28px;
  background-position: -140px -370px;
}

.twitch.monkeysStorm {
  width: 28px;
  height: 28px;
  background-position: -168px -370px;
}

.twitch.monkeysGotem {
  width: 28px;
  height: 28px;
  background-position: -196px -370px;
}

.twitch.monkeysFlame {
  width: 28px;
  height: 28px;
  background-position: -224px -370px;
}

.twitch.sajNoBoots {
  width: 28px;
  height: 28px;
  background-position: -252px -370px;
}

.twitch.sajPee {
  width: 28px;
  height: 28px;
  background-position: -280px -370px;
}

.twitch.sajRNG {
  width: 28px;
  height: 28px;
  background-position: -308px -370px;
}

.twitch.sajSalt {
  width: 28px;
  height: 28px;
  background-position: -336px -370px;
}

.twitch.sajKingB {
  width: 28px;
  height: 28px;
  background-position: -364px -370px;
}

.twitch.sajMonkey {
  width: 28px;
  height: 28px;
  background-position: -415px 0px;
}

.twitch.sajHype {
  width: 28px;
  height: 28px;
  background-position: -415px -28px;
}

.twitch.sajDance {
  width: 28px;
  height: 28px;
  background-position: -415px -56px;
}

.twitch.rtzFail {
  width: 28px;
  height: 28px;
  background-position: -415px -84px;
}

.twitch.rtzSun {
  width: 28px;
  height: 28px;
  background-position: -415px -112px;
}

.twitch.rtzW {
  width: 28px;
  height: 28px;
  background-position: -415px -140px;
}

.twitch.rtzPotato {
  width: 28px;
  height: 28px;
  background-position: -415px -168px;
}

.twitch.rtzGodDAMN {
  width: 28px;
  height: 28px;
  background-position: -415px -196px;
}

.twitch.rtzSmooth {
  width: 28px;
  height: 28px;
  background-position: -415px -224px;
}

.twitch.lirikREKT {
  width: 28px;
  height: 28px;
  background-position: -415px -252px;
}

.twitch.admiralHappy {
  width: 28px;
  height: 28px;
  background-position: -415px -280px;
}

.twitch.lirikGOTY {
  width: 28px;
  height: 28px;
  background-position: -415px -308px;
}

.twitch.admiralGasm {
  width: 28px;
  height: 28px;
  background-position: -415px -336px;
}

.twitch.lirikGasm {
  width: 28px;
  height: 28px;
  background-position: -415px -364px;
}

.twitch.admiralFood {
  width: 28px;
  height: 28px;
  background-position: 0px -398px;
}

.twitch.lirikAppa {
  width: 28px;
  height: 28px;
  background-position: -28px -398px;
}

.twitch.lirikFAT {
  width: 28px;
  height: 28px;
  background-position: -56px -398px;
}

.twitch.lirikMLG {
  width: 28px;
  height: 28px;
  background-position: -84px -398px;
}

.twitch.lirikTRASH {
  width: 28px;
  height: 28px;
  background-position: -112px -398px;
}

.twitch.lirikO {
  width: 28px;
  height: 28px;
  background-position: -140px -398px;
}

.twitch.lirikH {
  width: 28px;
  height: 28px;
  background-position: -168px -398px;
}

.twitch.lirikM {
  width: 28px;
  height: 28px;
  background-position: -196px -398px;
}

.twitch.lirikD {
  width: 28px;
  height: 28px;
  background-position: -224px -398px;
}

.twitch.admiralSexy {
  width: 28px;
  height: 28px;
  background-position: -252px -398px;
}

.twitch.admiralS4 {
  width: 28px;
  height: 28px;
  background-position: -280px -398px;
}

.twitch.lirikL {
  width: 28px;
  height: 28px;
  background-position: -308px -398px;
}

.twitch.meanderStrat {
  width: 28px;
  height: 28px;
  background-position: -336px -398px;
}

.twitch.meanderRage {
  width: 28px;
  height: 28px;
  background-position: -364px -398px;
}

.twitch.meanderChamp {
  width: 28px;
  height: 28px;
  background-position: -392px -398px;
}

.twitch.singsingDoge {
  width: 28px;
  height: 28px;
  background-position: -443px 0px;
}

.twitch.singsingWat {
  width: 28px;
  height: 28px;
  background-position: -443px -28px;
}

.twitch.singsingSaiyan {
  width: 28px;
  height: 28px;
  background-position: -443px -56px;
}

.twitch.singsingMimimi {
  width: 28px;
  height: 28px;
  background-position: -443px -84px;
}

.twitch.singsingKawaii {
  width: 28px;
  height: 28px;
  background-position: -443px -112px;
}

.twitch.singsingStayinthetrees {
  width: 28px;
  height: 28px;
  background-position: -443px -140px;
}

.twitch.singsingPLD {
  width: 28px;
  height: 28px;
  background-position: -443px -168px;
}

.twitch.sonyaDragon {
  width: 28px;
  height: 28px;
  background-position: -443px -196px;
}

.twitch.sonyaOrange {
  width: 28px;
  height: 28px;
  background-position: -443px -224px;
}

.twitch.sonyaKnight {
  width: 28px;
  height: 28px;
  background-position: -443px -252px;
}

.twitch.sonyaGasm {
  width: 28px;
  height: 28px;
  background-position: -443px -280px;
}

.twitch.sonyaFail {
  width: 28px;
  height: 28px;
  background-position: -443px -308px;
}

.twitch.sonyaPower {
  width: 28px;
  height: 28px;
  background-position: -443px -336px;
}

.twitch.sonyaTaco {
  width: 28px;
  height: 28px;
  background-position: -443px -364px;
}

.twitch.sonyaEvil {
  width: 28px;
  height: 28px;
  background-position: -443px -392px;
}

.twitch.sonyaGift {
  width: 28px;
  height: 28px;
  background-position: 0px -426px;
}

.twitch.sonyaOP {
  width: 28px;
  height: 28px;
  background-position: -28px -426px;
}

.twitch.sonyaLove {
  width: 28px;
  height: 28px;
  background-position: -56px -426px;
}

.twitch.sonyaThump {
  width: 28px;
  height: 28px;
  background-position: -84px -426px;
}

.twitch.sonyaMute {
  width: 28px;
  height: 28px;
  background-position: -112px -426px;
}

.twitch.forsenSambool {
  width: 28px;
  height: 28px;
  background-position: -140px -426px;
}

.twitch.forsenSS {
  width: 28px;
  height: 28px;
  background-position: -168px -426px;
}

.twitch.forsenAbort {
  width: 28px;
  height: 28px;
  background-position: -196px -426px;
}

.twitch.forsenBanned {
  width: 28px;
  height: 28px;
  background-position: -224px -426px;
}

.twitch.forsenMoney {
  width: 28px;
  height: 28px;
  background-position: -252px -426px;
}

.twitch.forsenDDK {
  width: 28px;
  height: 28px;
  background-position: -280px -426px;
}

.twitch.forsen30 {
  width: 28px;
  height: 28px;
  background-position: -308px -426px;
}

.twitch.forsenBoys {
  width: 28px;
  height: 28px;
  background-position: -336px -426px;
}

.twitch.forsenRP {
  width: 28px;
  height: 28px;
  background-position: -364px -426px;
}

.twitch.forsenW {
  width: 28px;
  height: 28px;
  background-position: -392px -426px;
}

.twitch.forsenSleeper {
  width: 28px;
  height: 28px;
  background-position: -420px -426px;
}

.twitch.forsenSwag {
  width: 28px;
  height: 28px;
  background-position: -471px 0px;
}

.twitch.forsenPlugdj {
  width: 28px;
  height: 28px;
  background-position: -471px -28px;
}

.twitch.forsenWot {
  width: 28px;
  height: 28px;
  background-position: -471px -56px;
}

.twitch.forsenOP {
  width: 28px;
  height: 28px;
  background-position: -471px -84px;
}

.twitch.forsenTriple {
  width: 28px;
  height: 28px;
  background-position: -471px -112px;
}

.twitch.forsenKev {
  width: 28px;
  height: 28px;
  background-position: -471px -140px;
}

.twitch.forsenSnus {
  width: 28px;
  height: 28px;
  background-position: -471px -168px;
}

.twitch.forsenKappa {
  width: 28px;
  height: 28px;
  background-position: -471px -196px;
}

.twitch.forsenGasm {
  width: 28px;
  height: 28px;
  background-position: -471px -224px;
}

.twitch.forsenBM {
  width: 28px;
  height: 28px;
  background-position: -471px -252px;
}

.twitch.forsenODO {
  width: 28px;
  height: 28px;
  background-position: -471px -280px;
}

.twitch.forsenWOW {
  width: 28px;
  height: 28px;
  background-position: -471px -308px;
}

.twitch.forsenBeast {
  width: 28px;
  height: 28px;
  background-position: -471px -336px;
}

.twitch.trumpDepends {
  width: 28px;
  height: 28px;
  background-position: -471px -364px;
}

.twitch.trumpBear {
  width: 28px;
  height: 28px;
  background-position: -471px -392px;
}

.twitch.trumpThump {
  width: 28px;
  height: 28px;
  background-position: -471px -420px;
}

.twitch.trumpRope {
  width: 28px;
  height: 28px;
  background-position: 0px -454px;
}

.twitch.trumpWhat {
  width: 28px;
  height: 28px;
  background-position: -28px -454px;
}

.twitch.trumpSci {
  width: 28px;
  height: 28px;
  background-position: -56px -454px;
}

.twitch.trumpW {
  width: 28px;
  height: 28px;
  background-position: -84px -454px;
}

.twitch.trumpKappa {
  width: 28px;
  height: 28px;
  background-position: -112px -454px;
}

.twitch.trumpGive {
  width: 28px;
  height: 28px;
  background-position: -140px -454px;
}

.twitch.trumpChow {
  width: 28px;
  height: 28px;
  background-position: -168px -454px;
}

.twitch.trumpValue {
  width: 28px;
  height: 28px;
  background-position: -196px -454px;
}

.twitch.trumpCookie {
  width: 28px;
  height: 28px;
  background-position: -224px -454px;
}

.twitch.trumpStats {
  width: 28px;
  height: 28px;
  background-position: -252px -454px;
}

.twitch.trumpPrison {
  width: 28px;
  height: 28px;
  background-position: -280px -454px;
}

.twitch.trumpChicken {
  width: 28px;
  height: 28px;
  background-position: -308px -454px;
}

.twitch.trumpTSM {
  width: 28px;
  height: 28px;
  background-position: -336px -454px;
}

.twitch.trumpMusic {
  width: 28px;
  height: 28px;
  background-position: -364px -454px;
}

.twitch.trumpCrab {
  width: 28px;
  height: 28px;
  background-position: -392px -454px;
}

.twitch.trumpUp {
  width: 28px;
  height: 28px;
  background-position: -420px -454px;
}

.twitch.admiralW {
  width: 28px;
  height: 28px;
  background-position: -448px -454px;
}

.twitch.Volcania {
  width: 27px;
  height: 28px;
  background-position: -499px 0px;
}

.twitch.ThunBeast {
  width: 26px;
  height: 28px;
  background-position: -499px -28px;
}

.twitch.lirikThump {
  width: 28px;
  height: 26px;
  background-position: -155px -200px;
}

.twitch.Kappa {
  width: 25px;
  height: 28px;
  background-position: -499px -56px;
}

.twitch.TheTarFu {
  width: 25px;
  height: 28px;
  background-position: -499px -84px;
}

.twitch.Kippa {
  width: 24px;
  height: 28px;
  background-position: -499px -112px;
}

.twitch.OMGScoots {
  width: 22px;
  height: 28px;
  background-position: -499px -140px;
}

.twitch.DogFace {
  width: 22px;
  height: 28px;
  background-position: -499px -168px;
}

.twitch.SwiftRage {
  width: 21px;
  height: 28px;
  background-position: -499px -196px;
}

.twitch.HassanChop {
  width: 19px;
  height: 28px;
  background-position: -499px -224px;
}

.twitch.BatChest {
  width: 18px;
  height: 28px;
  background-position: -499px -252px;
}

.twitch.FunRun {
  width: 27px;
  height: 27px;
  background-position: -499px -280px;
}

.twitch.SuperVinlin {
  width: 23px;
  height: 27px;
  background-position: -499px -307px;
}

.twitch.NoNoSpot {
  width: 23px;
  height: 27px;
  background-position: -499px -334px;
}

.twitch.OptimizePrime {
  width: 22px;
  height: 27px;
  background-position: -499px -361px;
}

.twitch.PicoMause {
  width: 22px;
  height: 27px;
  background-position: -499px -388px;
}

.twitch.CougarHunt {
  width: 21px;
  height: 27px;
  background-position: -499px -415px;
}

.twitch.KevinTurtle {
  width: 21px;
  height: 27px;
  background-position: -499px -442px;
}

.twitch.GingerPower {
  width: 21px;
  height: 27px;
  background-position: -252px -230px;
}

.twitch.BlargNaut {
  width: 21px;
  height: 27px;
  background-position: -280px -258px;
}

.twitch.JKanStyle {
  width: 21px;
  height: 27px;
  background-position: -308px -286px;
}

.twitch.TheRinger {
  width: 20px;
  height: 27px;
  background-position: -336px -314px;
}

.twitch.JonCarnage {
  width: 20px;
  height: 27px;
  background-position: -364px -342px;
}

.twitch.FPSMarksman {
  width: 20px;
  height: 27px;
  background-position: -392px -370px;
}

.twitch.StrawBeary {
  width: 20px;
  height: 27px;
  background-position: -420px -398px;
}

.twitch.StoneLightning {
  width: 20px;
  height: 27px;
  background-position: -448px -426px;
}

.twitch.OneHand {
  width: 20px;
  height: 27px;
  background-position: -476px -454px;
}

.twitch.FreakinStinkin {
  width: 19px;
  height: 27px;
  background-position: 0px -482px;
}

.twitch.RedCoat {
  width: 19px;
  height: 27px;
  background-position: -19px -482px;
}

.twitch.Kreygasm {
  width: 19px;
  height: 27px;
  background-position: -38px -482px;
}

.twitch.NinjaTroll {
  width: 19px;
  height: 27px;
  background-position: -57px -482px;
}

.twitch.ArsonNoSexy {
  width: 18px;
  height: 27px;
  background-position: -76px -482px;
}

.twitch.EagleEye {
  width: 18px;
  height: 27px;
  background-position: -94px -482px;
}

.twitch.PazPazowitz {
  width: 18px;
  height: 27px;
  background-position: -112px -482px;
}

.twitch.UleetBackup {
  width: 17px;
  height: 27px;
  background-position: -130px -482px;
}

.twitch.FuzzyOtterOO {
  width: 26px;
  height: 26px;
  background-position: -183px -200px;
}

.twitch.SSSsss {
  width: 24px;
  height: 24px;
  background-position: -209px -200px;
}

.twitch.SMSkull {
  width: 24px;
  height: 24px;
  background-position: -147px -482px;
}

.twitch.PunchTrees {
  width: 24px;
  height: 24px;
  background-position: -171px -482px;
}

.twitch.meanderSunMeander {
  width: 22px;
  height: 22px;
  background-position: -195px -482px;
}

.twitch.ItsBoshyTime {
  width: 18px;
  height: 18px;
  background-position: -225px -180px;
}

.twitch {
  display: inline-block;
  background: url( '../images/twitch-emoticons.png' ) no-repeat;
  background-size: 526px 509px;
}

.twitch.hlspwn {
  width: 60px;
  height: 30px;
  background-position: 0px 0px;
}

.twitch.apollosc {
  width: 60px;
  height: 30px;
  background-position: 0px -30px;
}

.twitch.walterw {
  width: 60px;
  height: 30px;
  background-position: -60px 0px;
}

.twitch.beststudio {
  width: 60px;
  height: 30px;
  background-position: -60px -30px;
}

.twitch.meanderBigPlays {
  width: 60px;
  height: 20px;
  background-position: 0px -60px;
}

.twitch.meanderNevaEva {
  width: 60px;
  height: 20px;
  background-position: -60px -60px;
}

.twitch.numan {
  width: 48px;
  height: 30px;
  background-position: 0px -80px;
}

.twitch.supsonl {
  width: 45px;
  height: 17px;
  background-position: -48px -80px;
}

.twitch.supsonr {
  width: 45px;
  height: 17px;
  background-position: -120px 0px;
}

.twitch.BloodTrail {
  width: 41px;
  height: 28px;
  background-position: -120px -17px;
}

.twitch.FrankerZ {
  width: 40px;
  height: 30px;
  background-position: -120px -45px;
}

.twitch.MrDestructoid {
  width: 39px;
  height: 27px;
  background-position: -120px -75px;
}

.twitch.BibleThump {
  width: 36px;
  height: 30px;
  background-position: 0px -110px;
}

.twitch.PJSalt {
  width: 36px;
  height: 30px;
  background-position: -36px -110px;
}

.twitch.smlr {
  width: 36px;
  height: 30px;
  background-position: -72px -110px;
}

.twitch.RalpherZ {
  width: 33px;
  height: 30px;
  background-position: -108px -110px;
}

.twitch.SMOrc {
  width: 32px;
  height: 32px;
  background-position: -165px 0px;
}

.twitch.DansGame {
  width: 25px;
  height: 32px;
  background-position: -165px -32px;
}

.twitch.MVGame {
  width: 24px;
  height: 32px;
  background-position: -165px -64px;
}

.twitch.skrffz {
  width: 31px;
  height: 30px;
  background-position: -165px -96px;
}

.twitch.BionicBunion {
  width: 30px;
  height: 30px;
  background-position: 0px -140px;
}

.twitch.BrainSlug {
  width: 30px;
  height: 30px;
  background-position: -30px -140px;
}

.twitch.vcat {
  width: 30px;
  height: 30px;
  background-position: -60px -140px;
}

.twitch.WinWaker {
  width: 30px;
  height: 30px;
  background-position: -90px -140px;
}

.twitch.EvilFetus {
  width: 29px;
  height: 30px;
  background-position: -120px -140px;
}

.twitch.HotPokket {
  width: 28px;
  height: 30px;
  background-position: -149px -140px;
}

.twitch.tranceh {
  width: 28px;
  height: 30px;
  background-position: -197px 0px;
}

.twitch.UnSane {
  width: 28px;
  height: 30px;
  background-position: -197px -30px;
}

.twitch.isfrog {
  width: 25px;
  height: 30px;
  background-position: -197px -60px;
}

.twitch.TriHard {
  width: 24px;
  height: 30px;
  background-position: -197px -90px;
}

.twitch.AsianGlow {
  width: 24px;
  height: 30px;
  background-position: -197px -120px;
}

.twitch.SoBayed {
  width: 24px;
  height: 30px;
  background-position: -141px -110px;
}

.twitch.BigBrother {
  width: 24px;
  height: 30px;
  background-position: 0px -170px;
}

.twitch.DatSheffy {
  width: 24px;
  height: 30px;
  background-position: -24px -170px;
}

.twitch.ShazBotstix {
  width: 24px;
  height: 30px;
  background-position: -48px -170px;
}

.twitch.FUNgineer {
  width: 24px;
  height: 30px;
  background-position: -72px -170px;
}

.twitch.PogChamp {
  width: 23px;
  height: 30px;
  background-position: -96px -170px;
}

.twitch.TooSpicy {
  width: 23px;
  height: 30px;
  background-position: -119px -170px;
}

.twitch.adbc {
  width: 23px;
  height: 30px;
  background-position: -142px -170px;
}

.twitch.SoonerLater {
  width: 23px;
  height: 30px;
  background-position: -165px -170px;
}

.twitch.PMSTwin {
  width: 23px;
  height: 30px;
  background-position: -188px -170px;
}

.twitch.wps {
  width: 22px;
  height: 30px;
  background-position: -225px 0px;
}

.twitch.TF2John {
  width: 22px;
  height: 30px;
  background-position: -225px -30px;
}

.twitch.FailFish {
  width: 22px;
  height: 30px;
  background-position: -225px -60px;
}

.twitch.Poooound {
  width: 21px;
  height: 30px;
  background-position: -225px -90px;
}

.twitch.DBstyle {
  width: 21px;
  height: 30px;
  background-position: -225px -120px;
}

.twitch.OpieOP {
  width: 21px;
  height: 30px;
  background-position: -225px -150px;
}

.twitch.Jebaited {
  width: 21px;
  height: 30px;
  background-position: 0px -200px;
}

.twitch.WholeWheat {
  width: 20px;
  height: 30px;
  background-position: -177px -140px;
}

.twitch.RuleFive {
  width: 20px;
  height: 30px;
  background-position: -21px -200px;
}

.twitch._4Head {
  width: 20px;
  height: 30px;
  background-position: -41px -200px;
}

.twitch.BORT {
  width: 19px;
  height: 30px;
  background-position: -61px -200px;
}

.twitch.TinyFace {
  width: 19px;
  height: 30px;
  background-position: -80px -200px;
}

.twitch.Keepo {
  width: 27px;
  height: 29px;
  background-position: -99px -200px;
}

.twitch.BCWarrior {
  width: 29px;
  height: 27px;
  background-position: -126px -200px;
}

.twitch.wagaFish {
  width: 28px;
  height: 28px;
  background-position: -247px 0px;
}

.twitch.admiralHYPE {
  width: 28px;
  height: 28px;
  background-position: -247px -28px;
}

.twitch.lirikB {
  width: 28px;
  height: 28px;
  background-position: -247px -56px;
}

.twitch.lirikC {
  width: 28px;
  height: 28px;
  background-position: -247px -84px;
}

.twitch.ResidentSleeper {
  width: 28px;
  height: 28px;
  background-position: -247px -112px;
}

.twitch.lirikHug {
  width: 28px;
  height: 28px;
  background-position: -247px -140px;
}

.twitch.lirikTEN {
  width: 28px;
  height: 28px;
  background-position: -247px -168px;
}

.twitch.lirikPOOP {
  width: 28px;
  height: 28px;
  background-position: -247px -196px;
}

.twitch.lirikNICE {
  width: 28px;
  height: 28px;
  background-position: 0px -230px;
}

.twitch.lirikCLENCH {
  width: 28px;
  height: 28px;
  background-position: -28px -230px;
}

.twitch.lirikMEOW {
  width: 28px;
  height: 28px;
  background-position: -56px -230px;
}

.twitch.lirikW {
  width: 28px;
  height: 28px;
  background-position: -84px -230px;
}

.twitch.lirikWc {
  width: 28px;
  height: 28px;
  background-position: -112px -230px;
}

.twitch.OSrob {
  width: 28px;
  height: 28px;
  background-position: -140px -230px;
}

.twitch.tbQuesarito {
  width: 28px;
  height: 28px;
  background-position: -168px -230px;
}

.twitch.lirikF {
  width: 28px;
  height: 28px;
  background-position: -196px -230px;
}

.twitch.WTRuck {
  width: 28px;
  height: 28px;
  background-position: -224px -230px;
}

.twitch.admiralKristin {
  width: 28px;
  height: 28px;
  background-position: -275px 0px;
}

.twitch.lirikHYPE {
  width: 28px;
  height: 28px;
  background-position: -275px -28px;
}

.twitch.lirikRIP {
  width: 28px;
  height: 28px;
  background-position: -275px -56px;
}

.twitch.admiralGame {
  width: 28px;
  height: 28px;
  background-position: -275px -84px;
}

.twitch.lirikCRASH {
  width: 28px;
  height: 28px;
  background-position: -275px -112px;
}

.twitch.lirikNOT {
  width: 28px;
  height: 28px;
  background-position: -275px -140px;
}

.twitch.admiralDream {
  width: 28px;
  height: 28px;
  background-position: -275px -168px;
}

.twitch.lirikCHAMP {
  width: 28px;
  height: 28px;
  background-position: -275px -196px;
}

.twitch.tbSpicy {
  width: 28px;
  height: 28px;
  background-position: -275px -224px;
}

.twitch.lirikLEWD {
  width: 28px;
  height: 28px;
  background-position: 0px -258px;
}

.twitch.admiralHug {
  width: 28px;
  height: 28px;
  background-position: -28px -258px;
}

.twitch.PeoplesChamp {
  width: 28px;
  height: 28px;
  background-position: -56px -258px;
}

.twitch.GrammarKing {
  width: 28px;
  height: 28px;
  background-position: -84px -258px;
}

.twitch.UncleNox {
  width: 28px;
  height: 28px;
  background-position: -112px -258px;
}

.twitch.PanicVis {
  width: 28px;
  height: 28px;
  background-position: -140px -258px;
}

.twitch.BrokeBack {
  width: 28px;
  height: 28px;
  background-position: -168px -258px;
}

.twitch.PipeHype {
  width: 28px;
  height: 28px;
  background-position: -196px -258px;
}

.twitch.Mau5 {
  width: 28px;
  height: 28px;
  background-position: -224px -258px;
}

.twitch.YouWHY {
  width: 28px;
  height: 28px;
  background-position: -252px -258px;
}

.twitch.RitzMitz {
  width: 28px;
  height: 28px;
  background-position: -303px 0px;
}

.twitch.EleGiggle {
  width: 28px;
  height: 28px;
  background-position: -303px -28px;
}

.twitch.ArgieB8 {
  width: 28px;
  height: 28px;
  background-position: -303px -56px;
}

.twitch.KZskull {
  width: 28px;
  height: 28px;
  background-position: -303px -84px;
}

.twitch.TheThing {
  width: 28px;
  height: 28px;
  background-position: -303px -112px;
}

.twitch.AtWW {
  width: 28px;
  height: 28px;
  background-position: -303px -140px;
}

.twitch.Shazam {
  width: 28px;
  height: 28px;
  background-position: -303px -168px;
}

.twitch.GasJoker {
  width: 28px;
  height: 28px;
  background-position: -303px -196px;
}

.twitch.PJHarley {
  width: 28px;
  height: 28px;
  background-position: -303px -224px;
}

.twitch.MechaSupes {
  width: 28px;
  height: 28px;
  background-position: -303px -252px;
}

.twitch.shazamicon {
  width: 28px;
  height: 28px;
  background-position: 0px -286px;
}

.twitch.AtIvy {
  width: 28px;
  height: 28px;
  background-position: -28px -286px;
}

.twitch.KAPOW {
  width: 28px;
  height: 28px;
  background-position: -56px -286px;
}

.twitch.NightBat {
  width: 28px;
  height: 28px;
  background-position: -84px -286px;
}

.twitch.AtGL {
  width: 28px;
  height: 28px;
  background-position: -112px -286px;
}

.twitch.TheKing {
  width: 28px;
  height: 28px;
  background-position: -140px -286px;
}

.twitch.SriHead {
  width: 28px;
  height: 28px;
  background-position: -168px -286px;
}

.twitch.tbSriracha {
  width: 28px;
  height: 28px;
  background-position: -196px -286px;
}

.twitch.BabyRage {
  width: 28px;
  height: 28px;
  background-position: -224px -286px;
}

.twitch.panicBasket {
  width: 28px;
  height: 28px;
  background-position: -252px -286px;
}

.twitch.Fsociety {
  width: 28px;
  height: 28px;
  background-position: -280px -286px;
}

.twitch.PermaSmug {
  width: 28px;
  height: 28px;
  background-position: -331px 0px;
}

.twitch.BuddhaBar {
  width: 28px;
  height: 28px;
  background-position: -331px -28px;
}

.twitch.RaccAttack {
  width: 28px;
  height: 28px;
  background-position: -331px -56px;
}

.twitch.MrRobot {
  width: 28px;
  height: 28px;
  background-position: -331px -84px;
}

.twitch.ShibeZ {
  width: 28px;
  height: 28px;
  background-position: -331px -112px;
}

.twitch.WutFace {
  width: 28px;
  height: 28px;
  background-position: -331px -140px;
}

.twitch.PRChase {
  width: 28px;
  height: 28px;
  background-position: -331px -168px;
}

.twitch.ANELE {
  width: 28px;
  height: 28px;
  background-position: -331px -196px;
}

.twitch.admiralKappe {
  width: 28px;
  height: 28px;
  background-position: -331px -224px;
}

.twitch.HeyGuys {
  width: 28px;
  height: 28px;
  background-position: -331px -252px;
}

.twitch.AthenaPMS {
  width: 28px;
  height: 28px;
  background-position: -331px -280px;
}

.twitch.PraiseIt {
  width: 28px;
  height: 28px;
  background-position: 0px -314px;
}

.twitch.NotAtk {
  width: 28px;
  height: 28px;
  background-position: -28px -314px;
}

.twitch.mcaT {
  width: 28px;
  height: 28px;
  background-position: -56px -314px;
}

.twitch.TTours {
  width: 28px;
  height: 28px;
  background-position: -84px -314px;
}

.twitch.deIlluminati {
  width: 28px;
  height: 28px;
  background-position: -112px -314px;
}

.twitch.deExcite {
  width: 28px;
  height: 28px;
  background-position: -140px -314px;
}

.twitch.deShade {
  width: 28px;
  height: 28px;
  background-position: -168px -314px;
}

.twitch.OSbeaver {
  width: 28px;
  height: 28px;
  background-position: -196px -314px;
}

.twitch.OSdeo {
  width: 28px;
  height: 28px;
  background-position: -224px -314px;
}

.twitch.OSfrog {
  width: 28px;
  height: 28px;
  background-position: -252px -314px;
}

.twitch.OSkomodo {
  width: 28px;
  height: 28px;
  background-position: -280px -314px;
}

.twitch.OSsloth {
  width: 28px;
  height: 28px;
  background-position: -308px -314px;
}

.twitch.noScope420 {
  width: 28px;
  height: 28px;
  background-position: -359px 0px;
}

.twitch.HumbleLife {
  width: 28px;
  height: 28px;
  background-position: -359px -28px;
}

.twitch.tbBaconBiscuit {
  width: 28px;
  height: 28px;
  background-position: -359px -56px;
}

.twitch.tbSausageBiscuit {
  width: 28px;
  height: 28px;
  background-position: -359px -84px;
}

.twitch.tbChickenBiscuit {
  width: 28px;
  height: 28px;
  background-position: -359px -112px;
}

.twitch.DatHass {
  width: 28px;
  height: 28px;
  background-position: -359px -140px;
}

.twitch.OSbury {
  width: 28px;
  height: 28px;
  background-position: -359px -168px;
}

.twitch.CorgiDerp {
  width: 28px;
  height: 28px;
  background-position: -359px -196px;
}

.twitch.HelloFriend {
  width: 28px;
  height: 28px;
  background-position: -359px -224px;
}

.twitch.dadHi {
  width: 28px;
  height: 28px;
  background-position: -359px -252px;
}

.twitch.dadPeppers {
  width: 28px;
  height: 28px;
  background-position: -359px -280px;
}

.twitch.dadChamp {
  width: 28px;
  height: 28px;
  background-position: -359px -308px;
}

.twitch.dadAm {
  width: 28px;
  height: 28px;
  background-position: 0px -342px;
}

.twitch.dadSkyl {
  width: 28px;
  height: 28px;
  background-position: -28px -342px;
}

.twitch.dadPuck {
  width: 28px;
  height: 28px;
  background-position: -56px -342px;
}

.twitch.dadSlark {
  width: 28px;
  height: 28px;
  background-position: -84px -342px;
}

.twitch.dadFlame {
  width: 28px;
  height: 28px;
  background-position: -112px -342px;
}

.twitch.dadWerk {
  width: 28px;
  height: 28px;
  background-position: -140px -342px;
}

.twitch.dadXD {
  width: 28px;
  height: 28px;
  background-position: -168px -342px;
}

.twitch.dadAwful {
  width: 28px;
  height: 28px;
  background-position: -196px -342px;
}

.twitch.wagaCrit {
  width: 28px;
  height: 28px;
  background-position: -224px -342px;
}

.twitch.wagaMunch {
  width: 28px;
  height: 28px;
  background-position: -252px -342px;
}

.twitch.wagaTa {
  width: 28px;
  height: 28px;
  background-position: -280px -342px;
}

.twitch.wagaGasm {
  width: 28px;
  height: 28px;
  background-position: -308px -342px;
}

.twitch.wagaThump {
  width: 28px;
  height: 28px;
  background-position: -336px -342px;
}

.twitch.DAESuppy {
  width: 28px;
  height: 28px;
  background-position: -387px 0px;
}

.twitch.wagaBoom {
  width: 28px;
  height: 28px;
  background-position: -387px -28px;
}

.twitch.wagaSilence {
  width: 28px;
  height: 28px;
  background-position: -387px -56px;
}

.twitch.wagaDoubt {
  width: 28px;
  height: 28px;
  background-position: -387px -84px;
}

.twitch.wagaRage {
  width: 28px;
  height: 28px;
  background-position: -387px -112px;
}

.twitch.wagaChamp {
  width: 28px;
  height: 28px;
  background-position: -387px -140px;
}

.twitch.wagaRosh {
  width: 28px;
  height: 28px;
  background-position: -387px -168px;
}

.twitch.wagaRawr {
  width: 28px;
  height: 28px;
  background-position: -387px -196px;
}

.twitch.synd4Giggle {
  width: 28px;
  height: 28px;
  background-position: -387px -224px;
}

.twitch.syndEleHead {
  width: 28px;
  height: 28px;
  background-position: -387px -252px;
}

.twitch.syndMagnet {
  width: 28px;
  height: 28px;
  background-position: -387px -280px;
}

.twitch.syndAl {
  width: 28px;
  height: 28px;
  background-position: -387px -308px;
}

.twitch.syndSilly {
  width: 28px;
  height: 28px;
  background-position: -387px -336px;
}

.twitch.syndRageMilk {
  width: 28px;
  height: 28px;
  background-position: 0px -370px;
}

.twitch.syndFeedereN {
  width: 28px;
  height: 28px;
  background-position: -28px -370px;
}

.twitch.syndErwin {
  width: 28px;
  height: 28px;
  background-position: -56px -370px;
}

.twitch.monkeysPeel {
  width: 28px;
  height: 28px;
  background-position: -84px -370px;
}

.twitch.monkeysFace {
  width: 28px;
  height: 28px;
  background-position: -112px -370px;
}

.twitch.monkeysPat {
  width: 28px;
  height: 28px;
  background-position: -140px -370px;
}

.twitch.monkeysStorm {
  width: 28px;
  height: 28px;
  background-position: -168px -370px;
}

.twitch.monkeysGotem {
  width: 28px;
  height: 28px;
  background-position: -196px -370px;
}

.twitch.monkeysFlame {
  width: 28px;
  height: 28px;
  background-position: -224px -370px;
}

.twitch.sajNoBoots {
  width: 28px;
  height: 28px;
  background-position: -252px -370px;
}

.twitch.sajPee {
  width: 28px;
  height: 28px;
  background-position: -280px -370px;
}

.twitch.sajRNG {
  width: 28px;
  height: 28px;
  background-position: -308px -370px;
}

.twitch.sajSalt {
  width: 28px;
  height: 28px;
  background-position: -336px -370px;
}

.twitch.sajKingB {
  width: 28px;
  height: 28px;
  background-position: -364px -370px;
}

.twitch.sajMonkey {
  width: 28px;
  height: 28px;
  background-position: -415px 0px;
}

.twitch.sajHype {
  width: 28px;
  height: 28px;
  background-position: -415px -28px;
}

.twitch.sajDance {
  width: 28px;
  height: 28px;
  background-position: -415px -56px;
}

.twitch.rtzFail {
  width: 28px;
  height: 28px;
  background-position: -415px -84px;
}

.twitch.rtzSun {
  width: 28px;
  height: 28px;
  background-position: -415px -112px;
}

.twitch.rtzW {
  width: 28px;
  height: 28px;
  background-position: -415px -140px;
}

.twitch.rtzPotato {
  width: 28px;
  height: 28px;
  background-position: -415px -168px;
}

.twitch.rtzGodDAMN {
  width: 28px;
  height: 28px;
  background-position: -415px -196px;
}

.twitch.rtzSmooth {
  width: 28px;
  height: 28px;
  background-position: -415px -224px;
}

.twitch.lirikREKT {
  width: 28px;
  height: 28px;
  background-position: -415px -252px;
}

.twitch.admiralHappy {
  width: 28px;
  height: 28px;
  background-position: -415px -280px;
}

.twitch.lirikGOTY {
  width: 28px;
  height: 28px;
  background-position: -415px -308px;
}

.twitch.admiralGasm {
  width: 28px;
  height: 28px;
  background-position: -415px -336px;
}

.twitch.lirikGasm {
  width: 28px;
  height: 28px;
  background-position: -415px -364px;
}

.twitch.admiralFood {
  width: 28px;
  height: 28px;
  background-position: 0px -398px;
}

.twitch.lirikAppa {
  width: 28px;
  height: 28px;
  background-position: -28px -398px;
}

.twitch.lirikFAT {
  width: 28px;
  height: 28px;
  background-position: -56px -398px;
}

.twitch.lirikMLG {
  width: 28px;
  height: 28px;
  background-position: -84px -398px;
}

.twitch.lirikTRASH {
  width: 28px;
  height: 28px;
  background-position: -112px -398px;
}

.twitch.lirikO {
  width: 28px;
  height: 28px;
  background-position: -140px -398px;
}

.twitch.lirikH {
  width: 28px;
  height: 28px;
  background-position: -168px -398px;
}

.twitch.lirikM {
  width: 28px;
  height: 28px;
  background-position: -196px -398px;
}

.twitch.lirikD {
  width: 28px;
  height: 28px;
  background-position: -224px -398px;
}

.twitch.admiralSexy {
  width: 28px;
  height: 28px;
  background-position: -252px -398px;
}

.twitch.admiralS4 {
  width: 28px;
  height: 28px;
  background-position: -280px -398px;
}

.twitch.lirikL {
  width: 28px;
  height: 28px;
  background-position: -308px -398px;
}

.twitch.meanderStrat {
  width: 28px;
  height: 28px;
  background-position: -336px -398px;
}

.twitch.meanderRage {
  width: 28px;
  height: 28px;
  background-position: -364px -398px;
}

.twitch.meanderChamp {
  width: 28px;
  height: 28px;
  background-position: -392px -398px;
}

.twitch.singsingDoge {
  width: 28px;
  height: 28px;
  background-position: -443px 0px;
}

.twitch.singsingWat {
  width: 28px;
  height: 28px;
  background-position: -443px -28px;
}

.twitch.singsingSaiyan {
  width: 28px;
  height: 28px;
  background-position: -443px -56px;
}

.twitch.singsingMimimi {
  width: 28px;
  height: 28px;
  background-position: -443px -84px;
}

.twitch.singsingKawaii {
  width: 28px;
  height: 28px;
  background-position: -443px -112px;
}

.twitch.singsingStayinthetrees {
  width: 28px;
  height: 28px;
  background-position: -443px -140px;
}

.twitch.singsingPLD {
  width: 28px;
  height: 28px;
  background-position: -443px -168px;
}

.twitch.sonyaDragon {
  width: 28px;
  height: 28px;
  background-position: -443px -196px;
}

.twitch.sonyaOrange {
  width: 28px;
  height: 28px;
  background-position: -443px -224px;
}

.twitch.sonyaKnight {
  width: 28px;
  height: 28px;
  background-position: -443px -252px;
}

.twitch.sonyaGasm {
  width: 28px;
  height: 28px;
  background-position: -443px -280px;
}

.twitch.sonyaFail {
  width: 28px;
  height: 28px;
  background-position: -443px -308px;
}

.twitch.sonyaPower {
  width: 28px;
  height: 28px;
  background-position: -443px -336px;
}

.twitch.sonyaTaco {
  width: 28px;
  height: 28px;
  background-position: -443px -364px;
}

.twitch.sonyaEvil {
  width: 28px;
  height: 28px;
  background-position: -443px -392px;
}

.twitch.sonyaGift {
  width: 28px;
  height: 28px;
  background-position: 0px -426px;
}

.twitch.sonyaOP {
  width: 28px;
  height: 28px;
  background-position: -28px -426px;
}

.twitch.sonyaLove {
  width: 28px;
  height: 28px;
  background-position: -56px -426px;
}

.twitch.sonyaThump {
  width: 28px;
  height: 28px;
  background-position: -84px -426px;
}

.twitch.sonyaMute {
  width: 28px;
  height: 28px;
  background-position: -112px -426px;
}

.twitch.forsenSambool {
  width: 28px;
  height: 28px;
  background-position: -140px -426px;
}

.twitch.forsenSS {
  width: 28px;
  height: 28px;
  background-position: -168px -426px;
}

.twitch.forsenAbort {
  width: 28px;
  height: 28px;
  background-position: -196px -426px;
}

.twitch.forsenBanned {
  width: 28px;
  height: 28px;
  background-position: -224px -426px;
}

.twitch.forsenMoney {
  width: 28px;
  height: 28px;
  background-position: -252px -426px;
}

.twitch.forsenDDK {
  width: 28px;
  height: 28px;
  background-position: -280px -426px;
}

.twitch.forsen30 {
  width: 28px;
  height: 28px;
  background-position: -308px -426px;
}

.twitch.forsenBoys {
  width: 28px;
  height: 28px;
  background-position: -336px -426px;
}

.twitch.forsenRP {
  width: 28px;
  height: 28px;
  background-position: -364px -426px;
}

.twitch.forsenW {
  width: 28px;
  height: 28px;
  background-position: -392px -426px;
}

.twitch.forsenSleeper {
  width: 28px;
  height: 28px;
  background-position: -420px -426px;
}

.twitch.forsenSwag {
  width: 28px;
  height: 28px;
  background-position: -471px 0px;
}

.twitch.forsenPlugdj {
  width: 28px;
  height: 28px;
  background-position: -471px -28px;
}

.twitch.forsenWot {
  width: 28px;
  height: 28px;
  background-position: -471px -56px;
}

.twitch.forsenOP {
  width: 28px;
  height: 28px;
  background-position: -471px -84px;
}

.twitch.forsenTriple {
  width: 28px;
  height: 28px;
  background-position: -471px -112px;
}

.twitch.forsenKev {
  width: 28px;
  height: 28px;
  background-position: -471px -140px;
}

.twitch.forsenSnus {
  width: 28px;
  height: 28px;
  background-position: -471px -168px;
}

.twitch.forsenKappa {
  width: 28px;
  height: 28px;
  background-position: -471px -196px;
}

.twitch.forsenGasm {
  width: 28px;
  height: 28px;
  background-position: -471px -224px;
}

.twitch.forsenBM {
  width: 28px;
  height: 28px;
  background-position: -471px -252px;
}

.twitch.forsenODO {
  width: 28px;
  height: 28px;
  background-position: -471px -280px;
}

.twitch.forsenWOW {
  width: 28px;
  height: 28px;
  background-position: -471px -308px;
}

.twitch.forsenBeast {
  width: 28px;
  height: 28px;
  background-position: -471px -336px;
}

.twitch.trumpDepends {
  width: 28px;
  height: 28px;
  background-position: -471px -364px;
}

.twitch.trumpBear {
  width: 28px;
  height: 28px;
  background-position: -471px -392px;
}

.twitch.trumpThump {
  width: 28px;
  height: 28px;
  background-position: -471px -420px;
}

.twitch.trumpRope {
  width: 28px;
  height: 28px;
  background-position: 0px -454px;
}

.twitch.trumpWhat {
  width: 28px;
  height: 28px;
  background-position: -28px -454px;
}

.twitch.trumpSci {
  width: 28px;
  height: 28px;
  background-position: -56px -454px;
}

.twitch.trumpW {
  width: 28px;
  height: 28px;
  background-position: -84px -454px;
}

.twitch.trumpKappa {
  width: 28px;
  height: 28px;
  background-position: -112px -454px;
}

.twitch.trumpGive {
  width: 28px;
  height: 28px;
  background-position: -140px -454px;
}

.twitch.trumpChow {
  width: 28px;
  height: 28px;
  background-position: -168px -454px;
}

.twitch.trumpValue {
  width: 28px;
  height: 28px;
  background-position: -196px -454px;
}

.twitch.trumpCookie {
  width: 28px;
  height: 28px;
  background-position: -224px -454px;
}

.twitch.trumpStats {
  width: 28px;
  height: 28px;
  background-position: -252px -454px;
}

.twitch.trumpPrison {
  width: 28px;
  height: 28px;
  background-position: -280px -454px;
}

.twitch.trumpChicken {
  width: 28px;
  height: 28px;
  background-position: -308px -454px;
}

.twitch.trumpTSM {
  width: 28px;
  height: 28px;
  background-position: -336px -454px;
}

.twitch.trumpMusic {
  width: 28px;
  height: 28px;
  background-position: -364px -454px;
}

.twitch.trumpCrab {
  width: 28px;
  height: 28px;
  background-position: -392px -454px;
}

.twitch.trumpUp {
  width: 28px;
  height: 28px;
  background-position: -420px -454px;
}

.twitch.admiralW {
  width: 28px;
  height: 28px;
  background-position: -448px -454px;
}

.twitch.Volcania {
  width: 27px;
  height: 28px;
  background-position: -499px 0px;
}

.twitch.ThunBeast {
  width: 26px;
  height: 28px;
  background-position: -499px -28px;
}

.twitch.lirikThump {
  width: 28px;
  height: 26px;
  background-position: -155px -200px;
}

.twitch.Kappa {
  width: 25px;
  height: 28px;
  background-position: -499px -56px;
}

.twitch.TheTarFu {
  width: 25px;
  height: 28px;
  background-position: -499px -84px;
}

.twitch.Kippa {
  width: 24px;
  height: 28px;
  background-position: -499px -112px;
}

.twitch.OMGScoots {
  width: 22px;
  height: 28px;
  background-position: -499px -140px;
}

.twitch.DogFace {
  width: 22px;
  height: 28px;
  background-position: -499px -168px;
}

.twitch.SwiftRage {
  width: 21px;
  height: 28px;
  background-position: -499px -196px;
}

.twitch.HassanChop {
  width: 19px;
  height: 28px;
  background-position: -499px -224px;
}

.twitch.BatChest {
  width: 18px;
  height: 28px;
  background-position: -499px -252px;
}

.twitch.FunRun {
  width: 27px;
  height: 27px;
  background-position: -499px -280px;
}

.twitch.SuperVinlin {
  width: 23px;
  height: 27px;
  background-position: -499px -307px;
}

.twitch.NoNoSpot {
  width: 23px;
  height: 27px;
  background-position: -499px -334px;
}

.twitch.OptimizePrime {
  width: 22px;
  height: 27px;
  background-position: -499px -361px;
}

.twitch.PicoMause {
  width: 22px;
  height: 27px;
  background-position: -499px -388px;
}

.twitch.CougarHunt {
  width: 21px;
  height: 27px;
  background-position: -499px -415px;
}

.twitch.KevinTurtle {
  width: 21px;
  height: 27px;
  background-position: -499px -442px;
}

.twitch.GingerPower {
  width: 21px;
  height: 27px;
  background-position: -252px -230px;
}

.twitch.BlargNaut {
  width: 21px;
  height: 27px;
  background-position: -280px -258px;
}

.twitch.JKanStyle {
  width: 21px;
  height: 27px;
  background-position: -308px -286px;
}

.twitch.TheRinger {
  width: 20px;
  height: 27px;
  background-position: -336px -314px;
}

.twitch.JonCarnage {
  width: 20px;
  height: 27px;
  background-position: -364px -342px;
}

.twitch.FPSMarksman {
  width: 20px;
  height: 27px;
  background-position: -392px -370px;
}

.twitch.StrawBeary {
  width: 20px;
  height: 27px;
  background-position: -420px -398px;
}

.twitch.StoneLightning {
  width: 20px;
  height: 27px;
  background-position: -448px -426px;
}

.twitch.OneHand {
  width: 20px;
  height: 27px;
  background-position: -476px -454px;
}

.twitch.FreakinStinkin {
  width: 19px;
  height: 27px;
  background-position: 0px -482px;
}

.twitch.RedCoat {
  width: 19px;
  height: 27px;
  background-position: -19px -482px;
}

.twitch.Kreygasm {
  width: 19px;
  height: 27px;
  background-position: -38px -482px;
}

.twitch.NinjaTroll {
  width: 19px;
  height: 27px;
  background-position: -57px -482px;
}

.twitch.ArsonNoSexy {
  width: 18px;
  height: 27px;
  background-position: -76px -482px;
}

.twitch.EagleEye {
  width: 18px;
  height: 27px;
  background-position: -94px -482px;
}

.twitch.PazPazowitz {
  width: 18px;
  height: 27px;
  background-position: -112px -482px;
}

.twitch.UleetBackup {
  width: 17px;
  height: 27px;
  background-position: -130px -482px;
}

.twitch.FuzzyOtterOO {
  width: 26px;
  height: 26px;
  background-position: -183px -200px;
}

.twitch.SSSsss {
  width: 24px;
  height: 24px;
  background-position: -209px -200px;
}

.twitch.SMSkull {
  width: 24px;
  height: 24px;
  background-position: -147px -482px;
}

.twitch.PunchTrees {
  width: 24px;
  height: 24px;
  background-position: -171px -482px;
}

.twitch.meanderSunMeander {
  width: 22px;
  height: 22px;
  background-position: -195px -482px;
}

.twitch.ItsBoshyTime {
  width: 18px;
  height: 18px;
  background-position: -225px -180px;
}


